# Required
GOOGLE_API_KEY=AIzaSyCRrJejJvs5UxMVi0h-1zcVGaaY8VaqJwE
DISCORD_TOKEN=f98d6c4f5e974da3f40f184b44be9cc226016e3b47b166a0b11677379f9b4ab0
# Optional (choose one or both)
TELEGRAM_TOKEN=your_telegram_bot_token
ALPHAVANTAGE_KEY=your_alpha_vantage_key

# Runtime toggles
USE_TELEGRAM=False
USE_DISCORD=True
